<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 使用bean元素定义一个由IOC容器创建的对象 -->
	<!-- class属性指定用于创建bean的全类名 -->
	<!-- id属性指定用于引用bean实例的唯一标识 -->
<bean id="Person" class="com.tds.spring.mod.Person">
	<!-- 使用property子元素为bean的属性赋值，也就是DI依赖注入 -->
	<property name="id" value="001"/>
	<property name="name" value="唐德松"/>
	
</bean>

</beans>
